<ion-card>
  <ion-card-content class="ion-text-center">
    <ion-skeleton-text animated style="height: 270px"></ion-skeleton-text>
    <div class="ion-text-center">
      <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 45%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 35%;"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
    </div>
  </ion-card-content>
</ion-card>
